*
    margin: 0
    padding: 0
    
body 
    
header
    display: flex
    justify-content: space-between
    position: sticky
    top: 0
    background-color: white
    z-index: 2
    .logo__wrapper
        display: grid
        grid-template-columns: 1fr 1fr

input[type=checkbox] + label 
  display: block
  margin: 0.2em
  cursor: pointer
  padding: 0.2em

input[type=checkbox] 
    opacity: 0
    filter: alpha(opacity=0)
    position: absolute

input[type=checkbox] + label:before 
  content: "\2714"
  border: 0.1em solid #000
  border-radius: 0.2em
  display: inline-block
  width: 1em
  height: 1em
  padding-left: 0.2em
  padding-bottom: 0.3em
  margin-right: 0.2em
  vertical-align: bottom
  color: transparent
  transition: .2s


input[type=checkbox] + label:active:before 
  transform: scale(0)


input[type=checkbox]:checked + label:before 
  background-color: #DC3E2A
  border-color: #DC3E2A
  color: #fff


input[type=checkbox]:disabled + label:before 
  transform: scale(1)
  border-color: #aaa


input[type=checkbox]:checked:disabled + label:before 
  transform: scale(1)
  background-color: #ed9c91
  border-color: #ed9c91
input[type=checkbox]:focus + label:before 
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.5)


.search
    border-radius: 0.2em


.nav
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    background-color: transparent
    box-shadow: none
    outline: none
    border: none
    &:focus 
            outline: none
            border: 1px solid #DC3E2A
    &__item 
        position: relative
        

    &__title 
        margin-left: 10px
    &__badge 
        position: absolute
        top: 2px
        right: -5px
        min-width: 16px
        height: 10px
        padding: 0 3px
        text-align: center
        background: #DC3E2A
        border-radius: 8px
        font-size: 10px
        line-height: 11px
        color: #fff
    
.menu-toggle > img
    width: 37px
    padding: 9px
.goods
    display: grid
    grid-template-columns: 1fr 3fr
    max-width: 960px
    width: 100%
    margin-left: auto
    margin-right: auto
    &__filter
        margin: 0.5em
        div
            position: sticky
            top: 60px
    &__wrapper
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr))
        grid-gap: 2em
    &__title 
        text-align: center
   
    &__item
        padding: 0.3em
        position: relative
        box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2)
        
        &-remove
            position: absolute
            top: -10px
            right: -10px
            width: 25px
            height: 25px
            text-align: center
            line-height: 22px
            border: 1px solid rgba(0,0,0,.1)
            border-radius: 100%
            background-color: #fff
            cursor: pointer
            &:hover
                color: #DC3E2A
    &__btn
        background-color: #DC3E2A
        padding: 0.3em
        border: none 
        outline: none
        margin-top: 20px
        color: #ffffff
        cursor: pointer 
        &:focus 
            outline: none
            box-shadow: 0 0 15px rgba(220, 62, 42, .7)
        &:hover 
            box-shadow: 0 0 15px rgba(220, 62, 42, .7)
    &__img 
        width: 100%

    &__price__wrapper
        display: grid
        grid-template-columns: 1fr 1fr
        grid-gap: 0.1em 
    &__diameter 
        margin: 0 auto
    &__ingredients
        text-align: center

.prev-next__wrapper
    margin: 0 auto
    

.cart 
    display: none
    position: fixed 
    top: 0
    width: 100%
    height: 100%
    background-color: rgba(0,0,0, .3)
    z-index: 4
    &__body
        position: absolute
        top: 50%
        left: 50%
        width: 100%
        min-height: 200px
        max-height: 100%
        width: 100%
        max-width: 1000px
        background-color: #fff
        transform: translateX(-50%) translateY(-50%)
        padding: 25px
        overflow: auto
    &__title 
        font-size: 28px
        color: rgba(0,0,0, .4)
    &__wrapper
        display: grid
       
        grid-gap: 1em
        flex-wrap: wrap
        margin-top: 25px
        .empty  
            font-size: 24px
            color: rgba(0,0,0, .4)
        
    &__close 
        position: absolute
        top: 25px
        right: 25px
        cursor: pointer
    &__total 
        font-size: 18px
        span 
            color: #DC3E2A
    &__confirm
        width: 280px
        height: 40px
        display: block
        margin: 0 auto
        background-color: #DC3E2A
        border: none 
        outline: none
        margin-top: 20px
        color: #ffffff
        font-weight: bold
        cursor: pointer 
        &:focus 
            outline: none
            box-shadow: 0 0 15px rgba(220, 62, 42, .7)
        &:hover 
            box-shadow: 0 0 15px rgba(220, 62, 42, .7)
.confirm
    display: none
    position: fixed
    bottom: 50px
    right: 50px
    width: 100px
    height: 100px
    img 
        width: 100%

.menu__hidden
    grid-template-columns: 1fr
    .goods__filter
        width: 0
        height: 0
        overflow: hidden
        display: none 
        

@media (max-width: 1000px)
    .goods__wrapper
        grid-template-columns: 1fr 1fr 1fr
    .cart__wrapper
        grid-template-columns: 1fr 1fr 1fr 1fr
    .menu__hidden
        .goods__wrapper
            grid-template-columns: 1fr 1fr 1fr 1fr
        

@media (max-width: 760px)
    .goods__wrapper
        grid-template-columns: 1fr 1fr
    .cart__wrapper
        grid-template-columns: 1fr 1fr 1fr
    .menu__hidden
        .goods__wrapper
            grid-template-columns: 1fr 1fr 1fr

@media (max-width: 580px)
    .goods
        grid-template-columns: 1fr 3fr
    .goods__wrapper
        grid-template-columns: 1fr    
    .cart__wrapper
        grid-template-columns: 1fr 1fr
    .menu__hidden
        grid-template-columns: 1fr
        .goods__wrapper
            grid-template-columns: 1fr 1fr 

@media (max-width: 400px)
    .goods
        grid-template-columns: 1fr
    .goods__wrapper
        grid-template-columns: 1fr
    .cart__wrapper
        grid-template-columns: 1fr 1fr
    .goods__filter
        position: fixed
        background-color: white
        z-index: 2
    .menu__hidden
        .goods__wrapper
            grid-template-columns: 1fr
    

@media (min-width: 1000px)
    .goods__wrapper
        grid-template-columns: 1fr 1fr 1fr 1fr
    .cart__wrapper
        grid-template-columns: 1fr 1fr 1fr 1fr