<div class="cart modal__window" data-for="#cart">
    <div class="modal__window__body">
        <div class="modal__window__title">Кошик</div>
        <div class="cart__total">Загальна сума: <span>0</span> грн</div>
        <hr>
        <div class="modal__window__wrapper">
            <div class="empty">
                Ваш кошик порожній
            </div>
        </div>
        <button class="cart__confirm">Оформити замовлення</button>
        <button class="modal__window__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>
    </div>
</div>