<div class="goods menu__hidden">
    <div class="goods__filter">
        <div>
            <form action="#">
                <input type="text" placeholder="Я шукаю..." class="search">
                <p><select id="price_sort">
                    <option selected disabled>Сортувати за ціною</option>
                    <option id="expensiveFirst">Спочатку дорогі</option>
                    <option id="cheapFirst">Спочатку дешеві</option>
                </select></p>
                <p><input type="checkbox" id="withoutMushrooms"><label for="withoutMushrooms">Без печериць</label>
                </p>
                <p><input type="checkbox" id="withoutOnion"><label for="withoutOnion">Без цибулі</label></p>
                <p><input type="checkbox" id="withoutMustard"><label for="withoutMustard">Без гірчиці</label></p>
                <p><input type="checkbox" id="withoutOlives"><label for="withoutOlives">Без маслин</label></p>
            </form>
        </div>
    </div>
    <div class="goods__wrapper">

    </div>
    <div></div>
    <div class="prev-next__wrapper">
        <button class="prev__button" disabled><<</button> 
        <button class="next__button">>></button>
    </div>
</div>