<header>
    <div class="logo__wrapper">
        <button class=" nav menu-toggle">
            <img src="img/icons/menu-button.svg" alt="menu">
        </button>
        <div class="logo">
            <img src="img/icons/logo.svg" alt="logo">
        </div>
    </div>

    <button class="nav" id="sales">
        <div class="nav__item">
            <img src="img\icons\sale.svg" width="50px" alt="sale">
        </div>
        <div class="nav__title">Акціі</div>
    </button>

    <button class="nav" id="map">
            <div class="nav__item">
                <img src="img\icons\map.svg" width="50px" alt="map">
            </div>
            <div class="nav__title">Карта</div>
        </button>

    <button class="nav" id="cart">
        <div class="nav__item">
            <img src="img\icons\cart.svg" alt="cart">
            <div class="nav__badge">0</div>
        </div>
        <div class="nav__title">Кошик</div>
        <div class="nav__dropdown" tabindex="0">
            <div class="cart__clear" >Очистити кошик</div>
        </div>
    </button>
</header>