<div class="sales modal__window" data-for="#sales">
    <div class="modal__window__body" >
        <div class="modal__window__title">Акціі</div>
        <hr>
        <div class="modal__window__wrapper">
            <div class="slider">
                <div class="slider__items">
                    <img id="si_1" src="img\sales\1.jpg" alt="" />
                    <img id="si_2" src="img\sales\2.jpg" alt="" />
                    <img id="si_3" src="img\sales\3.jpg" alt="" />
                    <img id="si_4" src="img\sales\2.jpg" alt="" />
                    <img id="si_5" src="img\sales\3.jpg" alt="" />
                </div>
            </div>
        </div>
        <button class="modal__window__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>
    </div>
</div>